<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzfq.rms.account.dao.AccountUserMapper">
    <resultMap id="BaseResultMap" type="com.jzfq.rms.account.bean.AccountUser">
        <id column="user_no" property="userNo" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="period" property="period" jdbcType="DATE"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="position_type" property="positionType" jdbcType="VARCHAR"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="login_date" property="loginDate" jdbcType="TIMESTAMP"/>
        <result column="enable_flag" property="enableFlag" jdbcType="CHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>

        <result column="positionTypeName" property="positionTypeName" jdbcType="VARCHAR"/>
        <result column="enableFlagName" property="enableFlagName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    user_no, login_name, password, name, email, mobile, user_type, create_by, create_date, 
    period, remarks, update_by, update_date, position_type, photo, login_ip, login_date, 
    enable_flag, del_flag
  </sql>
    <!--分页查询用户数据字段-->
    <sql id="query_Column_List">
    u.user_no, u.login_name, u.password, u.name, u.email, u.mobile, u.user_type,
    u.create_by, u.create_date,
    u.period, u.remarks, u.update_by, u.update_date, u.position_type, u.photo, u.login_ip,
    u.login_date,
    u.enable_flag, u.del_flag,d1.dicValue positionTypeName,d2.dicValue enableFlagName
  </sql>

    <!--分页查询用户数据-->
    <select id="queryUserList" resultMap="BaseResultMap" parameterType="com.jzfq.rms.account.common.PageParam">
        select
        <include refid="query_Column_List"/>
        from account_user u
        left join account_dic d1 on u.position_type = d1.label and d1.type = 'position_type'
        left join account_dic d2 on u.enable_flag = d2.label and d2.type = 'common_enable_flag'
        <where>
            <if test="p.userNo != null and p.userNo != ''">
                and u.user_no = #{p.userNo,jdbcType=VARCHAR}
            </if>
            <if test="p.name != null and p.name != ''">
                and u.name = #{p.name,jdbcType=VARCHAR}
            </if>
            <if test="p.loginName != null and p.loginName != ''">
                and u.login_name = #{p.loginName,jdbcType=VARCHAR}
            </if>
            <if test="p.loginName != null and p.loginName != ''">
                and u.login_name = #{p.loginName,jdbcType=VARCHAR}
            </if>
            <if test="p.mobile != null and p.mobile != ''">
                and u.mobile = #{p.mobile,jdbcType=VARCHAR}
            </if>
            <if test="p.positionTypeName != null and p.positionTypeName != ''">
                and locate(#{p.positionTypeName,jdbcType=VARCHAR}, d.value) > 0
            </if>
            <if test="p.enableFlag != null and p.enableFlag != ''">
                and u.enable_flag = #{p.enableFlag,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from account_user
        where user_no = #{userNo,jdbcType=VARCHAR}
    </select>
    <!--获取最大用户编号-->
    <select id="getMaxUserNo" resultType="string">
    select max(user_no) from account_user where del_flag = 0
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jzfq.rms.account.bean.AccountUser">
    insert into account_user (user_no, login_name, password, 
      name, email, mobile, 
      user_type, create_by, create_date, 
      period, remarks, update_by, 
      update_date, position_type, photo, 
      login_ip, login_date, enable_flag, 
      del_flag)
    values (#{userNo,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{userType,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{period,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{positionType,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{loginIp,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, #{enableFlag,jdbcType=CHAR}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jzfq.rms.account.bean.AccountUser">
        insert into account_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                user_no,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="period != null">
                period,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="positionType != null">
                position_type,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="loginIp != null">
                login_ip,
            </if>
            <if test="loginDate != null">
                login_date,
            </if>
            <if test="enableFlag != null">
                enable_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="period != null">
                #{period,jdbcType=DATE},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="positionType != null">
                #{positionType,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="loginIp != null">
                #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginDate != null">
                #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enableFlag != null">
                #{enableFlag,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.account.bean.AccountUser">
        update account_user
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="period != null">
                period = #{period,jdbcType=DATE},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="positionType != null">
                position_type = #{positionType,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginDate != null">
                login_date = #{loginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where user_no = #{userNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.account.bean.AccountUser">
    update account_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      period = #{period,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      position_type = #{positionType,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_date = #{loginDate,jdbcType=TIMESTAMP},
      enable_flag = #{enableFlag,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>


    <select id="queryByUserNameAndPassword" resultMap="BaseResultMap" resultType="hashmap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM account_user
        <where>
            <if test="name!=null and name!=''">
                and login_name=#{name}
            </if>
            <if test="password!=null and password!=''">
                and `PASSWORD`=#{password}
            </if>
        </where>
    </select>

    <select id="queryByLoginName" resultMap="BaseResultMap" resultType="hashmap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM account_user
        <where>
            <if test="loginName!=null and loginName!=''">
                and login_name=#{loginName}
            </if>
        </where>
    </select>

    <!--校验登录账户是否重复-->
    <select id="checkLoginName" resultType="java.lang.Integer">
        select * from account_user where
            del_flag = 0
            and login_name = #{loginName}
        <if test="userNo!=null and userNo!=''">
            and user_no != #{userNo}
        </if>
    </select>
</mapper>