<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzfq.rms.account.dao.AccountUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.jzfq.rms.account.bean.AccountUserRoleKey" >
    <id column="user_no" property="userNo" jdbcType="VARCHAR" />
    <id column="role_no" property="roleNo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.jzfq.rms.account.bean.AccountUserRoleKey" >
    delete from account_user_role
    where user_no = #{userNo,jdbcType=VARCHAR}
      and role_no = #{roleNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jzfq.rms.account.bean.AccountUserRoleKey" >
    insert into account_user_role (user_no, role_no)
    values (#{userNo,jdbcType=VARCHAR}, #{roleNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jzfq.rms.account.bean.AccountUserRoleKey" >
    insert into account_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="roleNo != null" >
        role_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="roleNo != null" >
        #{roleNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>