<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzfq.rms.account.dao.AccountDeptMapper" >
  <resultMap id="BaseResultMap" type="com.jzfq.rms.account.bean.AccountDept" >
    <id column="dept_no" property="deptNo" jdbcType="VARCHAR" />
    <result column="parent_no" property="parentNo" jdbcType="VARCHAR" />
    <result column="parent_nos" property="parentNos" jdbcType="VARCHAR" />
    <result column="name" property="deptName" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="primary_persion" property="primaryPersion" jdbcType="VARCHAR" />
    <result column="deputy_persion" property="deputyPersion" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="grade" property="grade" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dept_no, parent_no, parent_nos, name, sort, type, primary_persion, deputy_persion, 
    create_by, create_date, update_by, update_date, grade, remarks, enable_flag, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from account_dept
    where dept_no = #{deptNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account_dept
    where dept_no = #{deptNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jzfq.rms.account.bean.AccountDept" >
    insert into account_dept (dept_no, parent_no, parent_nos, 
      name, sort, type, primary_persion, 
      deputy_persion, create_by, create_date, 
      update_by, update_date, grade, 
      remarks, enable_flag, del_flag
      )
    values (#{deptNo,jdbcType=VARCHAR}, #{parentNo,jdbcType=VARCHAR}, #{parentNos,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{sort,jdbcType=DECIMAL}, #{type,jdbcType=CHAR}, #{primaryPersion,jdbcType=VARCHAR},
      #{deputyPersion,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{grade,jdbcType=CHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{enableFlag,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jzfq.rms.account.bean.AccountDept" >
    insert into account_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptNo != null" >
        dept_no,
      </if>
      <if test="parentNo != null" >
        parent_no,
      </if>
      <if test="parentNos != null" >
        parent_nos,
      </if>
      <if test="deptName != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="primaryPersion != null" >
        primary_persion,
      </if>
      <if test="deputyPersion != null" >
        deputy_persion,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="enableFlag != null" >
        enable_flag,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptNo != null" >
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="parentNo != null" >
        #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="parentNos != null" >
        #{parentNos,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="primaryPersion != null" >
        #{primaryPersion,jdbcType=VARCHAR},
      </if>
      <if test="deputyPersion != null" >
        #{deputyPersion,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.account.bean.AccountDept" >
    update account_dept
    <set >
      <if test="parentNo != null" >
        parent_no = #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="parentNos != null" >
        parent_nos = #{parentNos,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="primaryPersion != null" >
        primary_persion = #{primaryPersion,jdbcType=VARCHAR},
      </if>
      <if test="deputyPersion != null" >
        deputy_persion = #{deputyPersion,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_no = #{deptNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.account.bean.AccountDept" >
    update account_dept
    set parent_no = #{parentNo,jdbcType=VARCHAR},
      parent_nos = #{parentNos,jdbcType=VARCHAR},
      name = #{deptName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=DECIMAL},
      type = #{type,jdbcType=CHAR},
      primary_persion = #{primaryPersion,jdbcType=VARCHAR},
      deputy_persion = #{deputyPersion,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      grade = #{grade,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      enable_flag = #{enableFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where dept_no = #{deptNo,jdbcType=VARCHAR}
  </update>

  <!--获取最大机构编号-->
  <select id="getMaxDeptNo" resultType="string">
    select max(dept_no) from account_dept where del_flag = 0
  </select>
</mapper>