<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzfq.rms.account.dao.AccountRoleMapper">
    <resultMap id="BaseResultMap" type="com.jzfq.rms.account.bean.AccountRole">
        <id column="role_no" property="roleNo" jdbcType="VARCHAR"/>
        <result column="enname" property="enname" jdbcType="VARCHAR"/>
        <result column="name" property="roleName" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="system_no" property="systemNo" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    role_no, enname, name, create_by, create_date, update_by, update_date, remarks, system_no,
    enable_flag, del_flag
</sql>

    <sql id="Page_Column_List">
       role.role_no,
        role.`name`,
        accountsys.system_name AS 'systemNo',
        dic.dicValue AS 'enableFlag',
        role.create_by,
        role.system_no
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from account_role
        where role_no = #{roleNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account_role
    where role_no = #{roleNo,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jzfq.rms.account.bean.AccountRole">
    insert into account_role (role_no, enname, name, 
      create_by, create_date, remarks, system_no)
    values (#{roleNo,jdbcType=VARCHAR}, #{enname,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{systemNo,jdbcType=VARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.jzfq.rms.account.bean.AccountRole">
        insert into account_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleNo != null">
                role_no,
            </if>
            <if test="enname != null">
                enname,
            </if>
            <if test="roleName != null">
                name,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="systemNo != null">
                system_no,
            </if>
            <if test="enableFlag != null">
                enable_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleNo != null">
                #{roleNo,jdbcType=VARCHAR},
            </if>
            <if test="enname != null">
                #{enname,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="systemNo != null">
                #{systemNo,jdbcType=VARCHAR},
            </if>
            <if test="enableFlag != null">
                #{enableFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.rms.account.bean.AccountRole">
        update account_role
        <set>
            <if test="enname != null">
                enname = #{enname,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="systemNo != null">
                system_no = #{systemNo,jdbcType=VARCHAR},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where role_no = #{roleNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jzfq.rms.account.bean.AccountRole">
    update account_role
    set enname = #{enname,jdbcType=VARCHAR},
      name = #{roleName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      system_no = #{systemNo,jdbcType=VARCHAR},
      enable_flag = #{enableFlag,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where role_no = #{roleNo,jdbcType=VARCHAR}
  </update>

    <!--获取最大角色编号-->
    <select id="getMaxRoleNo" resultType="string">
    select max(role_no) from account_role where del_flag = 0
  </select>

    <!--分页查询角色数据-->
    <select id="queryRoleList" resultMap="BaseResultMap" parameterType="com.jzfq.rms.account.common.PageParam">
        SELECT
        <include refid="Page_Column_List"/>
        FROM
        account_role AS role
        LEFT JOIN account_system AS accountsys ON accountsys.system_no = role.system_no
        LEFT JOIN account_dic AS dic ON dic.label = role.enable_flag
        <where>
            AND dic.type='common_enable_flag'
            <if test="p.roleName!= null and p.roleName!= ''">
                and role.name LIKE CONCAT('%',#{p.roleName ,jdbcType=VARCHAR},'%')
            </if>
            <if test="p.systemNo != null and p.systemNo != ''">
                and accountsys.system_no = #{p.systemNo,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="p.enableFlag != null and p.enableFlag != ''">
                    and role.enable_flag = #{p.enableFlag,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and role.enable_flag ='0'
                </otherwise>
            </choose>

        </where>
    </select>

    <update id="updateEnableByPrimaryKey" parameterType="com.jzfq.rms.account.bean.AccountRole">
        update account_role
        enable_flag = #{enableFlag,jdbcType=VARCHAR},
        where role_no = #{roleNo,jdbcType=VARCHAR}
    </update>

    <update id="updateEnable" parameterType="hashmap">
        UPDATE account_role set enable_flag = #{enableFlag,jdbcType=VARCHAR}
        <where>
            <if test="roleNos!=null">
                and role_no in
                <foreach collection="roleNos" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
    <update id="updateDelFlag" parameterType="hashmap">
        UPDATE account_role set del_flag = #{delFlag,jdbcType=VARCHAR}
        <where>
            <if test="roleNos!=null">
                and role_no in
                <foreach collection="roleNos" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
    <select id="queryByRoleName" resultMap="BaseResultMap" parameterType="hashmap">
        SELECT name FROM account_role WHERE `name`=#{name}
    </select>
    <select id="queryRoleByUser" resultType="map">
        select
        accountsys.system_name systemName,
        role.role_no roleNo,
        role.`name` roleName,
        dic.dicValue enableFlagName
        from
        account_role as role
        left join account_user_role as aur on role.role_no = aur.role_no
        left join account_system as accountsys on accountsys.system_no = role.system_no
        left join account_dic as dic on dic.label = role.enable_flag
        <where>
            AND dic.type='common_enable_flag'
            <if test="p.roleName!= null and p.roleName!= ''">
                and role.name like CONCAT('%',#{p.roleName ,jdbcType=VARCHAR},'%')
            </if>
            <if test="p.userNo != null and p.userNo != ''">
                and aur.user_no = #{p.userNo,jdbcType=VARCHAR}
            </if>
            <if test="p.systemNo != null and p.systemNo != ''">
                and accountsys.system_no = #{p.systemNo,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="p.enableFlag != null and p.enableFlag != ''">
                    and role.enable_flag = #{p.enableFlag,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and role.enable_flag ='0'
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>