body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:520px;
  height:897px;
}
#u230 {
  position:absolute;
  left:121px;
  top:90px;
  width:500px;
  height:877px;
}
#u231 {
  position:absolute;
  left:2px;
  top:430px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:32px;
}
#u232 {
  position:absolute;
  left:120px;
  top:90px;
  width:500px;
  height:32px;
}
#u233 {
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:139px;
  top:203px;
  width:462px;
  height:38px;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:458px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u236 {
  position:absolute;
  left:139px;
  top:263px;
  width:101px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:271px;
}
#u238 {
  position:absolute;
  left:139px;
  top:295px;
  width:203px;
  height:271px;
}
#u239 {
  position:absolute;
  left:2px;
  top:128px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:271px;
}
#u240 {
  position:absolute;
  left:357px;
  top:295px;
  width:203px;
  height:271px;
}
#u241 {
  position:absolute;
  left:2px;
  top:128px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:271px;
}
#u242 {
  position:absolute;
  left:574px;
  top:295px;
  width:203px;
  height:271px;
}
#u243 {
  position:absolute;
  left:2px;
  top:128px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u244 {
  position:absolute;
  left:139px;
  top:626px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u246 {
  position:absolute;
  left:559px;
  top:271px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u248 {
  position:absolute;
  left:559px;
  top:632px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u250 {
  position:absolute;
  left:139px;
  top:579px;
  width:33px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u252 {
  position:absolute;
  left:358px;
  top:579px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u254 {
  position:absolute;
  left:575px;
  top:579px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
}
#u256 {
  position:absolute;
  left:139px;
  top:141px;
  width:73px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u258 {
  position:absolute;
  left:218px;
  top:869px;
  width:33px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u260 {
  position:absolute;
  left:398px;
  top:869px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u262 {
  position:absolute;
  left:578px;
  top:869px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u264 {
  position:absolute;
  left:149px;
  top:689px;
  width:170px;
  height:170px;
}
#u265 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u266 {
  position:absolute;
  left:329px;
  top:689px;
  width:170px;
  height:170px;
}
#u267 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u268 {
  position:absolute;
  left:509px;
  top:689px;
  width:170px;
  height:170px;
}
#u269 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
