<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Dictionary" type="com.jzfq.rms.product.bean.Dictionary"/>
        <typeAlias alias="ProductInfo" type="com.jzfq.rms.product.bean.ProductInfo"/>
        <typeAlias alias="RuleInfo" type="com.jzfq.rms.product.bean.RuleInfo"/>
        <typeAlias alias="TacticsRecord" type="com.jzfq.rms.product.bean.TacticsRecord"/>
        <typeAlias alias="CheckItems" type="com.jzfq.rms.product.bean.CheckItems"/>

        <typeAlias alias="DecisionSets" type="com.jzfq.rms.product.bean.DecisionSets"/>
        <typeAlias alias="RuleParamSets" type="com.jzfq.rms.product.bean.RuleParamSets"/>
        <typeAlias alias="RuleSets" type="com.jzfq.rms.product.bean.RuleSets"/>

        <typeAlias alias="CustomerType" type="com.jzfq.rms.product.bean.CustomerType"/>
        <typeAlias alias="ConfigMobile" type="com.jzfq.rms.product.bean.ConfigMobile"/>
        <typeAlias alias="RegistCode" type="com.jzfq.rms.product.bean.RegistCode"/>
        <typeAlias alias="LatitudeLongitude" type="com.jzfq.rms.product.bean.LatitudeLongitude"/>

    </typeAliases>
    <plugins>
        <!--MybatisSpringPageInterceptor分页拦截器-->
        <plugin interceptor="com.jzfq.rms.product.persistence.interceptor.PageInterceptor">
            <property name="dbType" value="mysql"/>
        </plugin>
    </plugins>
    <mappers>
        <mapper resource="mybatis/ProductInfoMapper.xml"/>
        <mapper resource="mybatis/RuleInfoMapper.xml"/>
        <mapper resource="mybatis/TacticsRecordMapper.xml"/>
        <mapper resource="mybatis/DictionaryMapper.xml"/>
        <mapper resource="mybatis/CheckItemsMapper.xml"/>

        <mapper resource="mybatis/DecisionSetsMapper.xml"/>
        <mapper resource="mybatis/RuleParamSetsMapper.xml"/>
        <mapper resource="mybatis/RuleSetsMapper.xml"/>

        <mapper resource="mybatis/CustomerTypeMapper.xml"/>
        <mapper resource="mybatis/ConfigMobileMapper.xml"/>
        <mapper resource="mybatis/RegistCodeMapper.xml"/>
        <mapper resource="mybatis/LatitudeLongitudeMapper.xml"/>
    </mappers>

</configuration>