<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">





    <!-- dao配置结束 -->
    <!--redis 配置-->

    <!-- redis配置结束 -->

    <!-- service配置 -->
    <!-- service配置结束 -->
</beans>