body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:191px;
}
#u68 {
  position:absolute;
  left:121px;
  top:122px;
  width:499px;
  height:191px;
}
#u69 {
  position:absolute;
  left:2px;
  top:88px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:520px;
  height:1132px;
}
#u70 {
  position:absolute;
  left:121px;
  top:90px;
  width:500px;
  height:1112px;
}
#u71 {
  position:absolute;
  left:2px;
  top:548px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:32px;
}
#u72 {
  position:absolute;
  left:120px;
  top:90px;
  width:500px;
  height:32px;
}
#u73 {
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:191px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:121px;
  top:122px;
  width:499px;
  height:191px;
}
#u75 {
  position:absolute;
  left:2px;
  top:88px;
  width:495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
}
#u76 {
  position:absolute;
  left:139px;
  top:333px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u78 {
  position:absolute;
  left:143px;
  top:132px;
  width:25px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:147px;
}
#u80 {
  position:absolute;
  left:139px;
  top:373px;
  width:110px;
  height:147px;
}
#u81 {
  position:absolute;
  left:2px;
  top:66px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u82 {
  position:absolute;
  left:573px;
  top:135px;
  width:6px;
  height:6px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u84 {
  position:absolute;
  left:583px;
  top:135px;
  width:6px;
  height:6px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u86 {
  position:absolute;
  left:593px;
  top:135px;
  width:6px;
  height:6px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u88 {
  position:absolute;
  left:271px;
  top:373px;
  width:139px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:139px;
  top:542px;
  width:140px;
  height:40px;
}
#u91 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u92 {
  position:absolute;
  left:271px;
  top:433px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u94 {
  position:absolute;
  left:139px;
  top:604px;
  width:463px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:520px;
  height:897px;
}
#u96 {
  position:absolute;
  left:642px;
  top:92px;
  width:500px;
  height:877px;
}
#u97 {
  position:absolute;
  left:2px;
  top:430px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:694px;
  top:644px;
  width:396px;
  height:262px;
}
#u99 {
  position:absolute;
  left:2px;
  top:123px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u100 {
  position:absolute;
  left:789px;
  top:681px;
  width:60px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u102 {
  position:absolute;
  left:940px;
  top:681px;
  width:60px;
  height:60px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u104 {
  position:absolute;
  left:795px;
  top:751px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106 {
  position:absolute;
  left:959px;
  top:751px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u108 {
  position:absolute;
  left:889px;
  top:791px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u110 {
  position:absolute;
  left:781px;
  top:821px;
  width:45px;
  height:39px;
}
#u111 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u112 {
  position:absolute;
  left:831px;
  top:821px;
  width:45px;
  height:39px;
}
#u113 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u114 {
  position:absolute;
  left:881px;
  top:821px;
  width:45px;
  height:39px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u116 {
  position:absolute;
  left:931px;
  top:821px;
  width:45px;
  height:39px;
}
#u117 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:39px;
}
#u118 {
  position:absolute;
  left:981px;
  top:821px;
  width:45px;
  height:39px;
}
#u119 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:697px;
  top:916px;
  width:393px;
  height:52px;
}
#u121 {
  position:absolute;
  left:2px;
  top:18px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u122 {
  position:absolute;
  left:893px;
  top:932px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u124_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:51px;
  height:25px;
}
#u124 {
  position:absolute;
  left:609px;
  top:136px;
  width:39px;
  height:5px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:143px;
  top:690px;
  width:121px;
  height:127px;
}
#u127 {
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:274px;
  top:690px;
  width:121px;
  height:127px;
}
#u129 {
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:405px;
  top:690px;
  width:121px;
  height:127px;
}
#u131 {
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:535px;
  top:690px;
  width:121px;
  height:127px;
}
#u133 {
  position:absolute;
  left:2px;
  top:47px;
  width:117px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u134 {
  position:absolute;
  left:289px;
  top:542px;
  width:140px;
  height:40px;
  color:#333333;
}
#u135 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:143px;
  top:851px;
  width:229px;
  height:38px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u138 {
  position:absolute;
  left:370px;
  top:851px;
  width:229px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:2px;
}
#u140 {
  position:absolute;
  left:141px;
  top:941px;
  width:481px;
  height:1px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u142 {
  position:absolute;
  left:139px;
  top:914px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u144 {
  position:absolute;
  left:584px;
  top:918px;
  width:12px;
  height:17px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:2px;
}
#u146 {
  position:absolute;
  left:141px;
  top:991px;
  width:481px;
  height:1px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-8px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u148 {
  position:absolute;
  left:139px;
  top:964px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u150 {
  position:absolute;
  left:584px;
  top:968px;
  width:12px;
  height:17px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
