<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- dao配置 -->
    <bean id="tacticsRecordDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.ITacticsRecordDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="ruleInfoDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IRuleInfoDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="dictionaryDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IDictionaryDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="productInfoDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IProductInfoDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="checkItemsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.ICheckItemsDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="decisionSetsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IDecisionSetsDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="ruleParamSetsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IRuleParamSetsDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="ruleSetsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.IRuleSetsDAO" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="customerTypeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.CustomerTypeDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="configMobileDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.ConfigMobileDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="registCodeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.RegistCodeDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="latitudeLongitudeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jzfq.rms.product.persistence.dao.LatitudeLongitudeDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <!-- dao配置结束 -->
    <!--redis 配置-->
    <bean id="mutilpleCacheWithRedis"
          class="com.jzfq.rms.product.persistence.cache.redis.MutilpleCacheWithRedis">
        <property name="redisTemplate" ref="redisTemplate" />
    </bean>
    <bean id="dictionaryCacheWithRedis"
          class="com.jzfq.rms.product.persistence.cache.redis.DictionaryCacheWithRedis">
        <property name="redisTemplate" ref="redisTemplate" />
    </bean>
    <bean id="tacticsCacheWithRedis"
          class="com.jzfq.rms.product.persistence.cache.redis.TacticsCacheWithRedis">
        <property name="redisTemplate" ref="redisTemplate" />
    </bean>
    <bean id="productInfoCacheWithRedis"
          class="com.jzfq.rms.product.persistence.cache.redis.ProductInfoCacheWithRedis">
        <property name="redisTemplate" ref="redisTemplate" />
    </bean>
    <bean id="ruleInfoCacheWithRedis"
          class="com.jzfq.rms.product.persistence.cache.redis.RuleInfoCacheWithRedis">
        <property name="redisTemplate" ref="redisTemplate" />
    </bean>
    <!-- redis配置结束 -->

    <!-- service配置 -->
    <bean id="mailService" class="com.jzfq.rms.product.service.impl.MailServiceImpl"></bean>
    <bean id="dictionaryService" class="com.jzfq.rms.product.service.impl.DictionaryServiceImpl"></bean>
    <bean id="productInfoService" class="com.jzfq.rms.product.service.impl.ProductInfoServiceImpl"></bean>
    <bean id="ruleInfoService" class="com.jzfq.rms.product.service.impl.RuleInfoServiceImpl"></bean>
    <bean id="ruleParamSetsService" class="com.jzfq.rms.product.service.impl.RuleParamSetsServiceImpl"></bean>
    <bean id="ruleSetsService" class="com.jzfq.rms.product.service.impl.RuleSetsServiceImpl"></bean>
    <bean id="tacticsRecordService" class="com.jzfq.rms.product.service.impl.TacticsRecordServiceImpl"></bean>
    <bean id="checkItemsService" class="com.jzfq.rms.product.service.impl.CheckItemsServiceImpl"></bean>
    <bean id="mutilpleService" class="com.jzfq.rms.product.service.impl.MutilpleServiceImpl"></bean>
    <bean id="customerTypeService" class="com.jzfq.rms.product.service.impl.CustomerTypeServiceImpl"></bean>
    <!-- service配置结束 -->
</beans>